/* ContactUs styles */
@import "@USupport-components-library/styles";

.page__contact-us {
  @include full-height-page-navbar;

  &__radial-circle.purple {
    top: 3.5rem;
    left: -7%;
    height: 50rem;
  }
}
