@import "@USupport-components-library/styles";

.forgot-password {
  // 100vh - height of header - margin-top of main-container
  @include full-height-page(calc($spacing_10_0 + $spacing_4_0));

  & .container {
    height: 100%;
  }

  &__grid {
    height: 100%;
    justify-items: center;

    &__content-item {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      @media screen and (min-width: $screen_md) {
        & > button {
          margin-bottom: $spacing_3_2;
        }
      }

      &__main-container {
        margin-top: $spacing_4_0;

        & > button {
          margin-top: $spacing_3_2;
        }
      }

      &__register-button {
        margin-top: $spacing_1_6;
      }
    }

    & .error-message {
      margin-top: $spacing_2_4;
      text-align: center;
      max-width: 34rem;
    }
  }
}
