@import "@USupport-components-library/styles";

.customers-qa {
  padding-top: $spacing_2_4;
  padding-bottom: $spacing_3_6;

  @media screen and (min-width: $screen_md) {
    padding-top: $spacing_3_2;
  }

  &__tab-and-search-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing_1_6;
    text-align: left;

    @media screen and (min-width: 950px) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__input {
      margin: 0 auto;
      margin-top: $spacing_1_0;
      margin-bottom: $spacing_1_6;

      @media screen and (min-width: 950px) {
        margin: 0;
        margin-bottom: $spacing_1_6;
      }
    }
  }

  &__tabs-container {
    overflow-y: auto;

    @media screen and (min-width: $screen_md) {
      padding-top: $spacing_1_2;
      padding-left: $spacing_6_0;
    }

    @media screen and (min-width: $screen-lg) {
      padding-left: calc($spacing_16_0 + $spacing_1_0);
    }
  }

  &__answer {
    margin: 0 auto;
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $spacing_1_6;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen_md) {
        margin: 0;
      }
    }
  }

  &__no-data {
    padding-bottom: 10rem;
  }
}
