@import "@USupport-components-library/styles";

.customers-qa {
  padding-top: $spacing_2_4;
  padding-bottom: $spacing_3_6;

  @media screen and (min-width: $screen_md) {
    padding-top: $spacing_3_2;
  }

  &__categories-item {
    overflow-x: auto;
    padding-top: $spacing_1_0;

    @media screen and (min-width: $screen-md) {
      width: auto;
      padding-top: $spacing_2_0;
    }

    &__language-dropdown {
      width: 34.4rem;
      text-align: left;
      margin-bottom: $spacing_1_2;

      .dropdown {
        width: 34.4rem;
      }
    }
  }

  &__tabs-grid {
    align-items: center;
    justify-items: stretch;

    &__search-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
      }
      @media screen and (min-width: $screen-lg) {
        flex-direction: row;
      }

      &__input {
        margin-bottom: $spacing_1_6;
        @media screen and (min-width: $screen-md) {
          margin-right: $spacing_1_6;
          margin-bottom: 0;
        }
      }
    }

    &__filter-button-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
      }
      @media screen and (min-width: $screen-lg) {
      }
    }
  }

  &__tabs-container {
    padding: $spacing_1_6 0;
    overflow-y: auto;
  }

  &__answer {
    margin: 0 auto;
  }

  &__search-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (min-width: $screen_md) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: $spacing_1_6;
    }

    &__button {
      margin-top: $spacing_1_6;

      @media screen and (min-width: $screen_md) {
        margin: 0;
      }
    }
  }

  &__no-data {
    padding-bottom: 10rem;
  }
}
