@import "@USupport-components-library/styles";

.provider-profile {
  &__grid {
    text-align: left;
    place-items: center;
    padding: $spacing_3_2 0 $spacing_10_0 0;

    &__item {
      margin-top: $spacing_0_8;

      &:first-of-type {
        button > .btn-selector__label {
          font-weight: $font_bold;
        }
      }

      &__label {
        color: $color_blue_3d527b;
      }

      &__button:first-of-type {
        margin-top: $spacing_0_8;
      }

      &__button:not(:first-of-type) {
        margin-top: $spacing_1_6;
      }
    }
  }
}
