@import "@USupport-components-library/styles";

.provider-profile {
  &__buttons-item {
    justify-self: center;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 34.3rem;
  }

  &__change-password-button,
  &__delete-account-button {
    padding: 0;
    min-width: unset;
  }

  &__edit-button {
    margin-top: $spacing_4_0;
  }

  &__change-password-button {
    margin-top: $spacing_3_6;
  }

  &__delete-account-button {
    margin-top: $spacing_2_2;
  }
}
