@import "@USupport-components-library/styles";

.login {
  @include full-height-page-navbar();

  &__grid {
    place-items: center;

    &__logo-item {
      &__heading {
        color: $color_gray_66768d;
      }

      &__logo {
        margin-top: $spacing_1_6;
        width: 22rem;
      }
    }

    &__content-item {
      align-self: start;
      text-align: left;

      &__input--password {
        margin-top: $spacing_2_5;
      }

      & > form > .button--lg {
        margin-top: $spacing_3_2;
      }
    }

    &__forgot-password {
      padding-top: $spacing_1_2;
    }
  }
}
