@import "@USupport-components-library/styles";

.select-consultation {
  & .backdrop__children {
    flex: 0.9;
    overflow: hidden;
  }

  & .backdrop__buttons-container {
    flex: 0.1;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $spacing_3_2;

    & .header {
      padding-bottom: $spacing_1_8;

      &__day-of-week {
        cursor: pointer;
      }
    }

    &__slots {
      overflow: scroll;
      height: 50rem;
      padding-top: $spacing_1_2;
      padding-bottom: $spacing_2_4;
    }

    & .radio-button-selector-group {
      padding: 0 $spacing_1_2;
      padding-bottom: 25rem;
    }
  }
}
