/* Consultation styles */
@import "@USupport-components-library/styles";

.page__consultation {
  padding-top: 0;
  max-height: 100vh;

  @media screen and (min-width: $screen-md) {
    padding-top: 1.4rem;
  }

  &__container {
    min-height: 100vh;
    position: relative;
    // padding: $spacing_3_2;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      justify-content: center;
    }

    &__grid {
      padding-bottom: $spacing_4_8;
      min-height: 60vh;
    }

    &__messages {
      min-height: 20rem;
      padding-top: $spacing_2_4;
      padding-bottom: $spacing_4_8;

      &__messages-container {
        display: flex;
        margin-left: $spacing_1_8;
        flex-direction: column;
        overflow: auto;
        padding-bottom: 15rem;

        @media screen and (min-width: 1150px) {
          padding-bottom: 25rem;
          height: calc(100vh - 12rem);
          overflow-y: auto;
        }

        @media screen and (min-width: 1150px) {
          padding-bottom: 0;
          // height: 82vh;
          overflow-y: auto;
        }

        @media screen and (min-width: 1150px) {
          margin-top: 5rem;
        }

        &--show-options {
          @media screen and (min-width: 1150px) {
            height: calc(100vh - 28rem) !important;
            margin-top: 21rem;
          }
        }

        & .message,
        & .system-message {
          margin-bottom: $spacing_1_8;

          @media screen and (min-width: 1150px) {
            max-width: 25rem;
          }
        }

        & .system-message {
          align-self: center;
        }

        & .message-sent {
          align-self: flex-end;
        }
      }

      & .messages-list {
        min-height: 20rem;
      }
    }
  }

  &__chat-backdrop {
    // height: 60vh;
    padding-bottom: $spacing_1_6;

    & .base-modal__body {
      position: relative;
    }

    &.backdrop__shown {
      top: 30vh;
    }

    @media screen and (min-width: 1150px) {
      padding-bottom: 25rem;
    }

    & .page__consultation__container__messages__messages-container {
      @media screen and (min-width: $screen-md) {
        padding-bottom: 25rem !important;
        // position: static;
      }
    }

    & .send-message {
      margin-bottom: $spacing_0_4;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 10px;
      padding-top: $spacing_1_6;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 0 $spacing_0_4;
      position: relative;
    }
  }

  &__system-message-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $spacing_1_2;

    & p {
      margin-left: $spacing_1_8;
    }
  }

  &__options-container {
    margin-left: $spacing_1_8;
    z-index: 2;
    width: 100%;
    top: 0;
  }

  & .send-message {
    padding-inline: $spacing_1_0;
    @media screen and (min-width: $screen-md) {
      padding-inline: unset;
      margin-bottom: $spacing_2_8;
    }
  }
}
