@import "@USupport-components-library/styles";

.change-password {
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $spacing_3_2;

    & > .input-container {
      padding-top: $spacing_3_2;
    }
  }
}
