/* ForgotPassword styles */
@import "@USupport-components-library/styles";

.page__forgot-password {
  & > .radial-background {
    top: 5%;
    left: -7%;
  }

  @media screen and (max-width: $screen-md) {
    background-image: url(../assets/background-spiral.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
