@import "@USupport-components-library/styles";

.reset-password {
  @include full-height-page(calc($spacing_10_0 + $spacing_4_0));

  &__grid {
    place-items: center;

    &__item {
      padding-top: $spacing_4_0;
      button {
        margin-top: $spacing_3_2;
      }
    }
  }
}
