@import "@USupport-components-library/styles";

.reset-password {
  @include full-height-page(calc($spacing_10_0 + $spacing_4_0));

  &__grid {
    place-items: center;

    &__item:first-of-type {
      padding-top: $spacing_4_0;
    }

    &__item:last-of-type {
      margin-top: $spacing_3_2;
    }
  }

  &__link {
    color: $color_blue_3d527b;
  }
}
