@import "@USupport-components-library/styles";

.create-response {
  &__content {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: $spacing_2_4;
    margin-bottom: $spacing_2_4;
    width: 100%;

    .input-with-dropdown-wrapper,
    .input-with-dropdown {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
