@import "@USupport-components-library/styles";

.notifications {
  @include full-height-page-navbar;

  &__heading-container {
    align-items: center;
    display: flex;
    margin-top: $spacing_3_2;

    & .icon {
      cursor: pointer;
    }

    &__heading {
      margin-left: $spacing_0_8;
    }

    &__mark-read {
      align-self: flex-end;
      color: $color_secondary_9749fa;
      cursor: pointer;
      flex: 1;
      text-align: right;
    }
  }

  &__subheading {
    padding-top: $spacing_1_6;
    text-align: left;
  }

  &__grid {
    padding-top: $spacing_3_6;
    padding-bottom: $spacing_4_8;
    place-items: center;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_3_0;
    }

    &__no-notifications {
      padding-top: $spacing_3_2;
    }
  }

  &__center-button {
    margin: 0 auto;
    margin-top: $spacing_1_8;
  }

  &__suggested-consultation {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: $spacing_1_8;
  }
}
