/* ResetPassword styles */
@import "@USupport-components-library/styles";

.page__reset-password {
  position: relative;
  min-height: 100vh;

  .page__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-bottom: 0;

    &__text-container__go-back {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $screen-md) {
    min-width: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
