@import "@USupport-components-library/styles";

.notification-preferences {
  &__grid {
    place-items: start;
    padding-top: $spacing_3_2;
    padding-bottom: $spacing_10_0;

    @media screen and (min-width: $screen_md) {
      place-items: center;
      padding-top: $spacing_5_0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: $spacing_2_4;
      width: 20rem;

      @media screen and (min-width: $screen_md) {
        width: 35rem;
      }

      & > .paragraph {
        color: $color_blue_3d527b;
        padding-bottom: $spacing_1_6;
      }
    }

    & .radio-button-selector-group {
      padding-top: $spacing_2_4;
    }

    & .error-message {
      margin: 0 auto;
      text-align: center;
      margin-top: $spacing_1_2;
    }
  }
}
