@import "@USupport-components-library/styles";

.clients {
  @include full-height-page-navbar;

  display: flex;
  padding-top: $spacing_3_2;
  padding-bottom: $spacing_3_2;

  @media screen and (min-width: $screen_lg) {
    & .container {
      display: flex;
    }
  }

  &__go-back-arrow-container {
    margin-right: $spacing_3_2;
    display: flex;

    & .icon {
      cursor: pointer;
    }
  }

  &__clients-container {
    padding: $spacing_3_2 0;

    &__header {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $screen_lg) {
        flex-direction: row;
        justify-content: space-between;
      }

      &__text {
        align-self: start;
        margin-left: $spacing_3_2;
      }

      &__input {
        margin-top: $spacing_2_4;

        @media screen and (min-width: $screen_lg) {
          margin-top: 0;
        }
      }
    }

    &__grid {
      margin-top: $spacing_2_4;
      place-items: center;

      @media screen and (min-width: $screen_lg) {
        margin-top: $spacing_3_2;
        place-items: end;

        & .grid-item:nth-child(even) {
          place-self: start;
        }
      }
    }
  }

  &__content {
    @media screen and (min-width: $screen-lg) {
      padding: 0;
      // display: flex;
      flex-direction: row;
      height: 75vh;
    }
  }

  &__main-container {
    padding-bottom: $spacing_10_0;
    overflow: scroll;
    position: relative;
    min-width: 36rem;

    @media screen and (min-width: $screen-lg) {
      padding: $spacing_2_4;
      padding-top: 0;
      border: 0.1rem solid $color_primary_20809e;
      border-radius: $border_radius_1_2;
    }

    .consultation {
      cursor: pointer;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: calc(34.3rem - 2 * $spacing_1_6);
      margin: 0 auto;
      margin: $spacing_3_2 $spacing_0_4 0;
      padding: $spacing_1_6;
      position: relative;
      z-index: 2;

      @media screen and (min-width: $screen-md) {
        width: calc(36.8rem - 2 * $spacing_1_6);
      }

      & .icon {
        cursor: pointer;
      }

      &__client-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        & .name-text {
          color: $color_blue_3d527b;
          font-weight: $font_bold;
          margin-left: $spacing_2_4;
          text-align: left;
        }
      }
    }

    &__grid {
      margin-top: $spacing_1_6;
      place-items: center;
      grid-gap: $spacing_1_5;
    }

    &__menu {
      border: 0.1rem solid $color_primary_20809e;
      display: flex;
      flex-direction: column;
      padding: $spacing_1_6;
      width: calc(19rem - 2 * $spacing_1_6);
      border-radius: $border_radius_1_6;
      background-color: $color_white_ff;
      position: absolute;
      right: calc(50% - calc(33.4rem / 2));
      top: 8%;
      z-index: $z_index_2;

      & .menu-option {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:not(:first-of-type) {
          margin-top: $spacing_2_2;
        }

        &__icon {
          margin-right: $spacing_1_0;
        }
      }
    }
  }

  &__consultation-container {
    display: flex;
    flex: 1;
    border-radius: $border_radius_1_2;
    overflow: hidden;

    @media screen and (min-width: $screen-lg) {
      margin-left: $spacing_1_6;
      padding-bottom: 0;
      border: 0.1rem solid $color_primary_20809e;
    }

    &__no-selected {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding: 0 $spacing_10_0;

      & .mascot {
        width: 16.7rem;
        height: 14.2rem;
      }

      &__text {
        margin-top: $spacing_4_2;
        font-size: 2.2rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        color: $color_black_00;
      }
    }

    &__consultation {
      width: 100%;
      // height: 100%;
      position: relative;
      overflow: scroll;
      padding: $spacing_2_4;
      padding-bottom: $spacing_3_2;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      &__header {
        display: flex;
        align-items: center;

        & .icon {
          cursor: pointer;
        }
      }

      &__messages {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        padding-bottom: $spacing_10_0;

        .system-message {
          align-self: center;
        }

        .message-sent {
          align-self: flex-end;
        }

        & .message,
        & .system-message {
          margin-top: $spacing_1_6;
        }

        @media screen and (min-width: $screen_md) {
          & .message,
          & .system-message {
            margin-top: $spacing_2_4;
          }
        }
      }

      &__button {
        position: sticky;
        bottom: 0;
        left: calc(50% - 34.3rem / 2);
        z-index: $z_index_2;
        max-width: 34.3rem;

        @media screen and (min-width: $screen_lg) {
          left: calc(50% - 36.8rem / 2);
          max-width: 36.8rem;
        }
      }
    }
  }

  &__consultation-loading {
    justify-self: center;
  }

  &__no-consultations {
    margin-top: $spacing_6_4;
  }
}
