/* CustomersQA styles */
@import "@USupport-components-library/styles";

.page__customers-qa {
  @include full-height-page-navbar;

  &__filter-button {
    @media screen and (min-width: 950px) {
      margin-left: auto;
      margin-right: $spacing_2_4;
    }

    @media screen and (min-width: $screen_lg) {
      margin-left: auto;
      margin-right: $spacing_9_6;
    }
  }
}
