/* PrivacyPolicy styles */
@import "@USupport-components-library/styles";

.page__faq {
  &__block {
    padding: $spacing_5_2 $spacing_1_5 $spacing_15_6 $spacing_1_5;

    @media screen and (min-width: $screen-md) {
      padding: $spacing_8_0 $spacing_23_0 $spacing_15_6 $spacing_23_0;
    }

    @media screen and (min-width: $screen-lg) {
      padding: $spacing_8_0 $spacing_40_3 $spacing_15_6 $spacing_40_3;
    }
  }

  &__no-results {
    padding: $spacing_10_0;
  }
}
