@import "@USupport-components-library/styles";

.delete-account {
  .backdrop__header-text {
    text-align: left;
    width: 80%;
  }

  .backdrop__text {
    text-align: left;
    padding-left: $spacing_1_2;
    width: 80%;
  }

  .input-container {
    margin: 0 auto;
    margin-top: $spacing_2_4;
    margin-bottom: $spacing_0_8;
  }
}
